.cliff1{
    z-index: 0;
    background-color: #d10c479f;
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    left: 7vmin;
    top: 30vmin;
    clip-path: polygon(99% 97%, 93% 94%, 88% 89%, 84% 87%, 81% 83%, 77% 81%, 75% 77%, 71% 75%, 69% 69%, 66% 67%, 61% 65%, 58% 66%, 54% 70%, 51% 75%, 48% 78%, 43% 83%, 38% 80%, 34% 81%, 31% 84%, 28% 88%, 23% 91%, 19% 95%, 16% 96%, 11% 100%, 100% 100%);
}
.cliff5{
    z-index: 10;
    background-color: #d10c479f;
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    left: 168vmin;
    top: 30vmin;
    clip-path: polygon(99% 97%, 93% 94%, 88% 89%, 84% 87%, 81% 83%, 77% 81%, 75% 77%, 71% 75%, 69% 69%, 66% 67%, 61% 65%, 58% 66%, 54% 70%, 51% 75%, 48% 78%, 43% 83%, 38% 80%, 34% 81%, 31% 84%, 28% 88%, 23% 91%, 19% 95%, 16% 96%, 11% 100%, 100% 100%);
}
.cliff6{
    z-index: 11;
         background-color: #d10c47;
         position: absolute;
   width: 30vmin;
   height: 30vmin;
    left:180vmin;
    top: 20vmin;
   

clip-path: polygon(99% 97%, 93% 94%, 88% 89%, 84% 87%, 81% 83%, 77% 81%, 75% 77%, 71% 75%, 69% 69%, 66% 67%, 61% 65%, 58% 66%, 54% 70%, 51% 75%, 48% 78%, 43% 83%, 38% 80%, 34% 81%, 31% 84%, 28% 88%, 23% 91%, 19% 95%, 16% 96%, 11% 100%, 100% 100%);

}
.cliff{
    position: absolute;
    background-color: #d10c47c7;
    /* filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));*/
    /* top: 20.5vmin; */
    /* width: 21vmin; */
    height: 30vmin;
    clip-path: polygon(99% 99%, 96% 95%, 88% 92%, 84% 88%, 80% 83%, 77% 78%, 73% 73%, 68% 73%, 66% 68%, 58% 63%, 54% 64%, 50% 69%, 44% 70%, 39% 76%, 36% 81%, 32% 84%, 28% 89%, 23% 90%, 18% 93%, 13% 90%, 11% 93%, 6% 95%, 0% 99%);
}
.cliff3{
    position: absolute;
    background-color: #ab0f3e;
    /* filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));*/
    top:-30vmin;
    left: 56vmin;
    width: 80vmin;
    height: 80vmin;
    clip-path: polygon(99% 97%, 93% 94%, 88% 89%, 84% 87%, 81% 83%, 77% 81%, 75% 77%, 71% 75%, 69% 69%, 66% 67%, 61% 65%, 58% 66%, 54% 70%, 51% 75%, 48% 78%, 43% 83%, 38% 80%, 34% 81%, 31% 84%, 28% 88%, 23% 91%, 19% 95%, 16% 96%, 11% 100%, 100% 100%);
    z-index: 5;
}
.cliff2{
    position: absolute;
    background-color: #6b0e2aee;
    left: -2vmin;
    top: 33.2vmin;
    width: 22vmin;
    height: 17vmin;
    clip-path: polygon(99% 97%, 93% 94%, 88% 89%, 84% 87%, 81% 83%, 77% 81%, 75% 77%, 71% 75%, 69% 69%, 66% 67%, 61% 65%, 58% 66%, 54% 70%, 51% 75%, 48% 78%, 43% 83%, 38% 80%, 34% 81%, 31% 84%, 28% 88%, 23% 91%, 19% 95%, 16% 96%, 11% 100%, 100% 100%);
    z-index: 20;
}
.cliff4{
    position: absolute;
    background-color: #7b1936ee;
    left: 110vmin;
    top: 6vmin;
    width: 56vmin;
    height: 44vmin;
   clip-path: polygon(99% 100%, 93% 96%, 87% 94%, 80% 90%, 77% 86%, 71% 83%, 66% 79%, 57% 77%, 52% 77%, 46% 76%, 40% 72%, 36% 69%, 32% 70%, 27% 72%, 22% 79%, 17% 79%, 12% 83%, 9% 85%, 4% 88%, 1% 91%, 0% 100%);

    z-index: 0;
}