.cliff1{
    z-index: 10;
         background-color: #d10c479f;
         position: absolute;
   width: 20vmin;
   height: 20vmin;
    left: 10vmax;
    top: 30vmin;
   

clip-path: polygon(99% 97%, 93% 94%, 88% 89%, 84% 87%, 81% 83%, 77% 81%, 75% 77%, 71% 75%, 69% 69%, 66% 67%, 61% 65%, 58% 66%, 54% 70%, 51% 75%, 48% 78%, 43% 83%, 38% 80%, 34% 81%, 31% 84%, 28% 88%, 23% 91%, 19% 95%, 16% 96%, 11% 100%, 100% 100%);

}
.cliff5{
    z-index: 10;
         background-color: #d10c479f;
         position: absolute;
   width: 20vmin;
   height: 20vmin;
    left: 85vmax;
    top: 30vmin;
   

clip-path: polygon(99% 97%, 93% 94%, 88% 89%, 84% 87%, 81% 83%, 77% 81%, 75% 77%, 71% 75%, 69% 69%, 66% 67%, 61% 65%, 58% 66%, 54% 70%, 51% 75%, 48% 78%, 43% 83%, 38% 80%, 34% 81%, 31% 84%, 28% 88%, 23% 91%, 19% 95%, 16% 96%, 11% 100%, 100% 100%);

}
.cliff6{
    z-index: 11;
         background-color: #d10c47;
         position: absolute;
   width: 30vmin;
   height: 30vmin;
    left:60vmin;
    top: 20vmin;
   

clip-path: polygon(99% 97%, 93% 94%, 88% 89%, 84% 87%, 81% 83%, 77% 81%, 75% 77%, 71% 75%, 69% 69%, 66% 67%, 61% 65%, 58% 66%, 54% 70%, 51% 75%, 48% 78%, 43% 83%, 38% 80%, 34% 81%, 31% 84%, 28% 88%, 23% 91%, 19% 95%, 16% 96%, 11% 100%, 100% 100%);

}
.cliff{
    position: absolute;
     background-color: #d10c47c7;
    /* filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));*/
       top: 30.5vmin;
   width: 30vmin;
   height: 20vmin;

clip-path: polygon(99% 99%, 96% 95%, 88% 92%, 84% 88%, 80% 83%, 77% 78%, 73% 73%, 68% 73%, 66% 68%, 58% 63%, 54% 64%, 50% 69%, 44% 70%, 39% 76%, 36% 81%, 32% 84%, 28% 89%, 23% 90%, 18% 93%, 13% 90%, 11% 93%, 6% 95%, 0% 99%);

}
.cliff3{
    position: absolute;
     background-color: #d10c47f3;
    /* filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));*/
       top: -9vmin;
       left: 30vmax;
   width: 80vmin;
   height: 60vmin;

clip-path: polygon(99% 99%, 96% 95%, 88% 92%, 84% 88%, 80% 83%, 77% 78%, 73% 73%, 68% 73%, 66% 68%, 58% 63%, 54% 64%, 50% 69%, 44% 70%, 39% 76%, 36% 81%, 32% 84%, 28% 89%, 23% 90%, 18% 93%, 13% 90%, 11% 93%, 6% 95%, 0% 99%);

}
.cliff2{
    position: absolute;
     background-color: #d10c47ee;
     left: 15vmax;
       top: 40.2vmin;
   width: 20vmin;
   height: 10vmin;

clip-path: polygon(99% 97%, 93% 94%, 88% 89%, 84% 87%, 81% 83%, 77% 81%, 75% 77%, 71% 75%, 69% 69%, 66% 67%, 61% 65%, 58% 66%, 54% 70%, 51% 75%, 48% 78%, 43% 83%, 38% 80%, 34% 81%, 31% 84%, 28% 88%, 23% 91%, 19% 95%, 16% 96%, 11% 100%, 100% 100%);

}
.cliff4{
    position: absolute;
     background-color: #d10c47ee;
     left: 7vmin;
       top: 10vmin;
   width: 40vmin;
   height: 40vmin;

clip-path: polygon(99% 97%, 93% 94%, 88% 89%, 84% 87%, 81% 83%, 77% 81%, 75% 77%, 71% 75%, 69% 69%, 66% 67%, 61% 65%, 58% 66%, 54% 70%, 51% 75%, 48% 78%, 43% 83%, 38% 80%, 34% 81%, 31% 84%, 28% 88%, 23% 91%, 19% 95%, 16% 96%, 11% 100%, 100% 100%);

}