
*{
    padding: 0%;
    margin: 0%;
}
.container{
    overflow: hidden;
    width: 100%;
    height: 100%;
}




.wave{
 position: absolute;
     background-color: #ac5384d2;
  width: 4vmin;
   height: 0.8vmin;  
      left: 40.4vmin;
       top: 60vmin;
        border-radius: 100px;


}