.water{
   background: linear-gradient(#e71d6b,#e48a35c7 );
    width:100% ;
    height: 50% ;

}

.water .water-effect1{
    position: absolute;
    width: 22vmin;
    height: 2vmin;
z-index: 0;
   
    top: 2vmin;
    left: 0vmin;
    border: .2vmin solid #88215a;
    background-color: #88215a2a;
  border-radius:  41% 59% 82% 18% / 49% 51% 49% 51% ;
animation: drop_animation_big 4s  ease-in-out forwards infinite;
    top: 50vmin;
}
.water .water-effect{
    
 position: absolute;
    width: 22vmin;
    height: 2vmin;
z-index: 0;
   
    top: 2vmin;
    left: 0vmin;
    border: .2vmin solid #88215a;
    background-color: #88215a2a;
  border-radius:  41% 59% 82% 18% / 49% 51% 49% 51% ;
animation: drop_animation 3s  ease-in-out forwards infinite;

    top: 55vmin;
    left: 50vmin;
    
}
.water-cut{
    width: 100%;
    height: 15%;
    background:linear-gradient(#b6317a00,#6c0e7988 );
    clip-path: polygon(100% 0%, 0% 0% , 0% 65.00%, 1% 64.96%, 2% 64.85%, 3% 64.66%, 4% 64.39%, 5% 64.05%, 6% 63.64%, 7% 63.16%, 8% 62.62%, 9% 62.01%, 10% 61.33%, 11% 60.60%, 12% 59.82%, 13% 58.98%, 14% 58.10%, 15% 57.18%, 16% 56.22%, 17% 55.24%, 18% 54.22%, 19% 53.18%, 20% 52.13%, 21% 51.06%, 22% 49.99%, 23% 48.92%, 24% 47.86%, 25% 46.80%, 26% 45.76%, 27% 44.75%, 28% 43.76%, 29% 42.80%, 30% 41.88%, 31% 41.00%, 32% 40.17%, 33% 39.38%, 34% 38.65%, 35% 37.98%, 36% 37.37%, 37% 36.83%, 38% 36.35%, 39% 35.94%, 40% 35.60%, 41% 35.34%, 42% 35.15%, 43% 35.04%, 44% 35.00%, 45% 35.04%, 46% 35.16%, 47% 35.35%, 48% 35.61%, 49% 35.95%, 50% 36.36%, 51% 36.85%, 52% 37.39%, 53% 38.01%, 54% 38.68%, 55% 39.41%, 56% 40.20%, 57% 41.03%, 58% 41.91%, 59% 42.83%, 60% 43.79%, 61% 44.78%, 62% 45.80%, 63% 46.84%, 64% 47.89%, 65% 48.96%, 66% 50.03%, 67% 51.10%, 68% 52.16%, 69% 53.22%, 70% 54.25%, 71% 55.27%, 72% 56.26%, 73% 57.22%, 74% 58.14%, 75% 59.02%, 76% 59.85%, 77% 60.63%, 78% 61.36%, 79% 62.03%, 80% 62.64%, 81% 63.18%, 82% 63.66%, 83% 64.07%, 84% 64.40%, 85% 64.66%, 86% 64.85%, 87% 64.96%, 88% 65.00%, 89% 64.96%, 90% 64.84%, 91% 64.65%, 92% 64.38%, 93% 64.04%, 94% 63.63%, 95% 63.15%, 96% 62.60%, 97% 61.98%, 98% 61.31%, 99% 60.58%, 100% 59.79%);
}
.water-cut.wave1{
    width: 100%;
    height: 15%;
    background:linear-gradient(#b6317a00,#6c0e7988 );
    clip-path: polygon(100% 0%, 0% 0% , 0% 65.00%, 1% 64.96%, 2% 64.85%, 3% 64.66%, 4% 64.39%, 5% 64.05%, 6% 63.64%, 7% 63.16%, 8% 62.62%, 9% 62.01%, 10% 61.33%, 11% 60.60%, 12% 59.82%, 13% 58.98%, 14% 58.10%, 15% 57.18%, 16% 56.22%, 17% 55.24%, 18% 54.22%, 19% 53.18%, 20% 52.13%, 21% 51.06%, 22% 49.99%, 23% 48.92%, 24% 47.86%, 25% 46.80%, 26% 45.76%, 27% 44.75%, 28% 43.76%, 29% 42.80%, 30% 41.88%, 31% 41.00%, 32% 40.17%, 33% 39.38%, 34% 38.65%, 35% 37.98%, 36% 37.37%, 37% 36.83%, 38% 36.35%, 39% 35.94%, 40% 35.60%, 41% 35.34%, 42% 35.15%, 43% 35.04%, 44% 35.00%, 45% 35.04%, 46% 35.16%, 47% 35.35%, 48% 35.61%, 49% 35.95%, 50% 36.36%, 51% 36.85%, 52% 37.39%, 53% 38.01%, 54% 38.68%, 55% 39.41%, 56% 40.20%, 57% 41.03%, 58% 41.91%, 59% 42.83%, 60% 43.79%, 61% 44.78%, 62% 45.80%, 63% 46.84%, 64% 47.89%, 65% 48.96%, 66% 50.03%, 67% 51.10%, 68% 52.16%, 69% 53.22%, 70% 54.25%, 71% 55.27%, 72% 56.26%, 73% 57.22%, 74% 58.14%, 75% 59.02%, 76% 59.85%, 77% 60.63%, 78% 61.36%, 79% 62.03%, 80% 62.64%, 81% 63.18%, 82% 63.66%, 83% 64.07%, 84% 64.40%, 85% 64.66%, 86% 64.85%, 87% 64.96%, 88% 65.00%, 89% 64.96%, 90% 64.84%, 91% 64.65%, 92% 64.38%, 93% 64.04%, 94% 63.63%, 95% 63.15%, 96% 62.60%, 97% 61.98%, 98% 61.31%, 99% 60.58%, 100% 59.79%);
   animation: wave_move 10s ease-in-out infinite alternate ;
}
.water-cut.wave2{
      width: 100%;
    height: 20%;
    clip-path: polygon(100% 0%, 0% 0% , 0% 70.00%, 1% 69.98%, 2% 69.91%, 3% 69.80%, 4% 69.64%, 5% 69.44%, 6% 69.19%, 7% 68.90%, 8% 68.57%, 9% 68.19%, 10% 67.77%, 11% 67.32%, 12% 66.82%, 13% 66.29%, 14% 65.72%, 15% 65.11%, 16% 64.47%, 17% 63.80%, 18% 63.09%, 19% 62.36%, 20% 61.59%, 21% 60.81%, 22% 59.99%, 23% 59.16%, 24% 58.30%, 25% 57.42%, 26% 56.53%, 27% 55.62%, 28% 54.70%, 29% 53.77%, 30% 52.83%, 31% 51.89%, 32% 50.94%, 33% 49.99%, 34% 49.04%, 35% 48.09%, 36% 47.14%, 37% 46.20%, 38% 45.27%, 39% 44.35%, 40% 43.44%, 41% 42.55%, 42% 41.68%, 43% 40.82%, 44% 39.99%, 45% 39.17%, 46% 38.38%, 47% 37.62%, 48% 36.89%, 49% 36.18%, 50% 35.51%, 51% 34.87%, 52% 34.27%, 53% 33.70%, 54% 33.16%, 55% 32.67%, 56% 32.21%, 57% 31.80%, 58% 31.42%, 59% 31.09%, 60% 30.80%, 61% 30.56%, 62% 30.36%, 63% 30.20%, 64% 30.09%, 65% 30.02%, 66% 30.00%, 67% 30.02%, 68% 30.09%, 69% 30.21%, 70% 30.37%, 71% 30.57%, 72% 30.82%, 73% 31.11%, 74% 31.44%, 75% 31.82%, 76% 32.24%, 77% 32.69%, 78% 33.19%, 79% 33.73%, 80% 34.30%, 81% 34.91%, 82% 35.55%, 83% 36.22%, 84% 36.93%, 85% 37.66%, 86% 38.43%, 87% 39.22%, 88% 40.03%, 89% 40.87%, 90% 41.72%, 91% 42.60%, 92% 43.49%, 93% 44.40%, 94% 45.32%, 95% 46.25%, 96% 47.19%, 97% 48.14%, 98% 49.09%, 99% 50.04%, 100% 50.99%);
     animation: wave_move 7s ease-in-out infinite alternate ;
}
.water-cut.wave3{
      width: 100%;
    height: 25%;
    clip-path: polygon(100% 0%, 0% 0% , 0% 65.00%, 1% 64.96%, 2% 64.85%, 3% 64.66%, 4% 64.39%, 5% 64.05%, 6% 63.64%, 7% 63.16%, 8% 62.62%, 9% 62.01%, 10% 61.33%, 11% 60.60%, 12% 59.82%, 13% 58.98%, 14% 58.10%, 15% 57.18%, 16% 56.22%, 17% 55.24%, 18% 54.22%, 19% 53.18%, 20% 52.13%, 21% 51.06%, 22% 49.99%, 23% 48.92%, 24% 47.86%, 25% 46.80%, 26% 45.76%, 27% 44.75%, 28% 43.76%, 29% 42.80%, 30% 41.88%, 31% 41.00%, 32% 40.17%, 33% 39.38%, 34% 38.65%, 35% 37.98%, 36% 37.37%, 37% 36.83%, 38% 36.35%, 39% 35.94%, 40% 35.60%, 41% 35.34%, 42% 35.15%, 43% 35.04%, 44% 35.00%, 45% 35.04%, 46% 35.16%, 47% 35.35%, 48% 35.61%, 49% 35.95%, 50% 36.36%, 51% 36.85%, 52% 37.39%, 53% 38.01%, 54% 38.68%, 55% 39.41%, 56% 40.20%, 57% 41.03%, 58% 41.91%, 59% 42.83%, 60% 43.79%, 61% 44.78%, 62% 45.80%, 63% 46.84%, 64% 47.89%, 65% 48.96%, 66% 50.03%, 67% 51.10%, 68% 52.16%, 69% 53.22%, 70% 54.25%, 71% 55.27%, 72% 56.26%, 73% 57.22%, 74% 58.14%, 75% 59.02%, 76% 59.85%, 77% 60.63%, 78% 61.36%, 79% 62.03%, 80% 62.64%, 81% 63.18%, 82% 63.66%, 83% 64.07%, 84% 64.40%, 85% 64.66%, 86% 64.85%, 87% 64.96%, 88% 65.00%, 89% 64.96%, 90% 64.84%, 91% 64.65%, 92% 64.38%, 93% 64.04%, 94% 63.63%, 95% 63.15%, 96% 62.60%, 97% 61.98%, 98% 61.31%, 99% 60.58%, 100% 59.79%);
  animation: wave_move 5s ease-in-out infinite alternate ;
}
.water-cut.wave4{
      width: 100%;
    height: 25%;
      animation: wave_move 2s ease-in-out infinite alternate  ;
    clip-path: polygon(100% 0%, 0% 0% , 0% 70.00%, 1% 69.98%, 2% 69.91%, 3% 69.80%, 4% 69.64%, 5% 69.44%, 6% 69.19%, 7% 68.90%, 8% 68.57%, 9% 68.19%, 10% 67.77%, 11% 67.32%, 12% 66.82%, 13% 66.29%, 14% 65.72%, 15% 65.11%, 16% 64.47%, 17% 63.80%, 18% 63.09%, 19% 62.36%, 20% 61.59%, 21% 60.81%, 22% 59.99%, 23% 59.16%, 24% 58.30%, 25% 57.42%, 26% 56.53%, 27% 55.62%, 28% 54.70%, 29% 53.77%, 30% 52.83%, 31% 51.89%, 32% 50.94%, 33% 49.99%, 34% 49.04%, 35% 48.09%, 36% 47.14%, 37% 46.20%, 38% 45.27%, 39% 44.35%, 40% 43.44%, 41% 42.55%, 42% 41.68%, 43% 40.82%, 44% 39.99%, 45% 39.17%, 46% 38.38%, 47% 37.62%, 48% 36.89%, 49% 36.18%, 50% 35.51%, 51% 34.87%, 52% 34.27%, 53% 33.70%, 54% 33.16%, 55% 32.67%, 56% 32.21%, 57% 31.80%, 58% 31.42%, 59% 31.09%, 60% 30.80%, 61% 30.56%, 62% 30.36%, 63% 30.20%, 64% 30.09%, 65% 30.02%, 66% 30.00%, 67% 30.02%, 68% 30.09%, 69% 30.21%, 70% 30.37%, 71% 30.57%, 72% 30.82%, 73% 31.11%, 74% 31.44%, 75% 31.82%, 76% 32.24%, 77% 32.69%, 78% 33.19%, 79% 33.73%, 80% 34.30%, 81% 34.91%, 82% 35.55%, 83% 36.22%, 84% 36.93%, 85% 37.66%, 86% 38.43%, 87% 39.22%, 88% 40.03%, 89% 40.87%, 90% 41.72%, 91% 42.60%, 92% 43.49%, 93% 44.40%, 94% 45.32%, 95% 46.25%, 96% 47.19%, 97% 48.14%, 98% 49.09%, 99% 50.04%, 100% 50.99%);
}

@keyframes wave_move {
    0%{
        transform: translateY(10%) rotate(1deg);
        opacity: 0%;

    }
    100%{
        transform: translateY(50%) rotate(-2deg);
        opacity: 80%;

    }
    
}