.lochness{
    position: absolute;
    background-color: rgba(240, 255, 255, 0.13);
    top: 50vmin;
    left: 40vmin;
  
}
.lochness .head{
    background-color: #fce058;
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    
}

.lochness .snake-body{
    box-shadow: 0 0 0 8px #333;
   content:'';
   width: 50px;
    height: 65px;
    border-top-left-radius: 460px;
    border-top-right-radius: 460px;
	 border-left: 30px solid #167440; 
   border-right: 30px solid #14914c ; 
  border-top: 30px solid #0a803f;  
	
    border-bottom: 0;
 border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    
    overflow:hidden;
    position:absolute;
}

